body{
      
  font-family: monospace, Consolas;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #57707A;
  
}
h1 {
    
    text-align: center;
    color: #DEDCDC;
}

.middle > button.hidden{
display:none;
}

.middle > button{
    margin-top: 100px;
    width: 100px;
    height: 50px;
}
.top {
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 200px;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #7B919C;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.top > div {
    font-family: monospace, Consolas;
    padding: 10px;
}

.middle {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.middle > .player_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #989DAA;
    height: 300px;
    width: 700px;
    margin: 10px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.middle >.player_side > .content {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
button {
    width: 100px;
}
button:hover{
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600; 
}
.middle > .player_side >.images {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
}
img {
    border-radius: 10px;
    width: 100px;
}
.hover {
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
.middle > .player_side > .btn_player {
    background-color: #C5BAC4;
}




.middle > .computer_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #989DAA;
    height: 300px;
    width: 700px;
    margin: 10px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.middle > .computer_side > .content {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.middle > .computer_side >.images {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    
}
.middle > .computer_side > .btn_computer {
    background-color: #C5BAC4;
}
